In [1]:
# 상관관계 분석 시각화

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
plt.rcParams['font.family'] = 'Malgun Gothic'  # 윈도우용 한글 폰트
plt.rcParams['axes.unicode_minus'] = False

### Segment와 병합

In [2]:
# 데이터 로드
df1 = pd.read_parquet('open/train/5.잔액정보/5.잔액정보_전처리완.parquet')
df1

,기준년월,ID,잔액_일시불_B0M,잔액_할부_B0M,잔액_현금서비스_B0M,잔액_리볼빙일시불이월_B0M,잔액_리볼빙CA이월_B0M,잔액_카드론_B0M,월중평잔_일시불_B0M,월중평잔_할부_B0M,...,평잔_6M,평잔_일시불_6M,평잔_일시불_해외_6M,평잔_RV일시불_6M,평잔_RV일시불_해외_6M,평잔_할부_6M,평잔_할부_해외_6M,평잔_CA_6M,평잔_CA_해외_6M,평잔_카드론_6M
0,201807,TRAIN_000000,998,962,22971,0,0,0,1084,547,...,15988,2440,0,0,0,572,0,17008,0,0
1,201807,TRAIN_000001,2565,2390,0,0,0,0,4090,2553,...,7045,2677,0,2830,0,2736,0,0,0,0
2,201807,TRAIN_000002,5312,5113,21531,6795,0,0,5006,8778,...,66549,9118,0,8870,0,4429,0,43351,0,0
3,201807,TRAIN_000003,730,5025,26284,0,0,0,487,5607,...,30139,884,0,0,0,5097,0,30697,0,0
4,201807,TRAIN_000004,0,0,0,0,0,0,0,0,...,28,21,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2399996,201812,TRAIN_399996,3351,0,0,0,0,27337,4412,0,...,67826,12524,0,0,0,0,0,0,0,23031
2399997,201812,TRAIN_399997,2524,2960,0,0,0,0,2694,3374,...,8627,3241,0,0,0,3995,0,0,0,0
2399998,201812,TRAIN_399998,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2399999,201812,TRAIN_399999,1148,3452,0,0,0,0,980,1839,...,5463,1053,0,0,0,4373,0,0,0,0

In [3]:
# segement 컬럼을 불러와 잔액정보 데이터프레임과 합쳐준다
df2 = pd.read_parquet('open/train/1.회원정보/201807_train_회원정보.parquet')
df3 = pd.read_parquet('open/train/1.회원정보/201808_train_회원정보.parquet')
df4 = pd.read_parquet('open/train/1.회원정보/201809_train_회원정보.parquet')
df5 = pd.read_parquet('open/train/1.회원정보/201810_train_회원정보.parquet')
df6 = pd.read_parquet('open/train/1.회원정보/201811_train_회원정보.parquet')
df7 = pd.read_parquet('open/train/1.회원정보/201812_train_회원정보.parquet')

In [4]:
all_df = pd.concat([df2, df3, df4, df5, df6, df7])
all_df.reset_index(inplace=True, drop=True)
all_df

,기준년월,ID,남녀구분코드,연령,Segment,회원여부_이용가능,회원여부_이용가능_CA,회원여부_이용가능_카드론,소지여부_신용,소지카드수_유효_신용,...,할인금액_제휴연회비_B0M,청구금액_기본연회비_B0M,청구금액_제휴연회비_B0M,상품관련면제카드수_B0M,임직원면제카드수_B0M,우수회원면제카드수_B0M,기타면제카드수_B0M,카드신청건수,Life_Stage,최종카드발급경과월
0,201807,TRAIN_000000,2,40대,D,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(2),22
1,201807,TRAIN_000001,1,30대,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(1),18
2,201807,TRAIN_000002,1,30대,C,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀출산기,20
3,201807,TRAIN_000003,2,40대,D,1,1,0,1,2,...,0,0,0,0개,0개,0개,0개,1,자녀성장(2),17
4,201807,TRAIN_000004,2,40대,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,1,자녀성장(1),15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,2,70대이상,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,노년생활,39
2399996,201812,TRAIN_399996,2,50대,D,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(2),24
2399997,201812,TRAIN_399997,1,30대,C,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀출산기,18
2399998,201812,TRAIN_399998,1,40대,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(1),27
2399999,201812,TRAIN_399999,2,40대,E,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(1),18

In [5]:
all_df['Segment']

0          D
1          E
2          C
3          D
4          E
          ..
2399995    E
2399996    D
2399997    C
2399998    E
2399999    E
Name: Segment, Length: 2400000, dtype: object

In [6]:
df = pd.concat([df1, all_df['Segment']], axis = 1)
df

,기준년월,ID,잔액_일시불_B0M,잔액_할부_B0M,잔액_현금서비스_B0M,잔액_리볼빙일시불이월_B0M,잔액_리볼빙CA이월_B0M,잔액_카드론_B0M,월중평잔_일시불_B0M,월중평잔_할부_B0M,...,평잔_일시불_6M,평잔_일시불_해외_6M,평잔_RV일시불_6M,평잔_RV일시불_해외_6M,평잔_할부_6M,평잔_할부_해외_6M,평잔_CA_6M,평잔_CA_해외_6M,평잔_카드론_6M,Segment
0,201807,TRAIN_000000,998,962,22971,0,0,0,1084,547,...,2440,0,0,0,572,0,17008,0,0,D
1,201807,TRAIN_000001,2565,2390,0,0,0,0,4090,2553,...,2677,0,2830,0,2736,0,0,0,0,E
2,201807,TRAIN_000002,5312,5113,21531,6795,0,0,5006,8778,...,9118,0,8870,0,4429,0,43351,0,0,C
3,201807,TRAIN_000003,730,5025,26284,0,0,0,487,5607,...,884,0,0,0,5097,0,30697,0,0,D
4,201807,TRAIN_000004,0,0,0,0,0,0,0,0,...,21,0,0,0,0,0,0,0,0,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,E
2399996,201812,TRAIN_399996,3351,0,0,0,0,27337,4412,0,...,12524,0,0,0,0,0,0,0,23031,D
2399997,201812,TRAIN_399997,2524,2960,0,0,0,0,2694,3374,...,3241,0,0,0,3995,0,0,0,0,C
2399998,201812,TRAIN_399998,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,E
2399999,201812,TRAIN_399999,1148,3452,0,0,0,0,980,1839,...,1053,0,0,0,4373,0,0,0,0,E

### 잔액정보 target 데이터와의 상관계수

In [10]:
from scipy.stats import pearsonr, pointbiserialr, chi2_contingency
import numpy as np
from scipy.stats import spearmanr

In [8]:

# -------------------------------
# Cramér's V 함수
# -------------------------------
def cramers_v(x, y):
    confusion_matrix = pd.crosstab(x, y)
    chi2 = chi2_contingency(confusion_matrix)[0]
    n = confusion_matrix.sum().sum()
    phi2 = chi2 / n
    r, k = confusion_matrix.shape
    return np.sqrt(phi2 / min(k - 1, r - 1))

# -------------------------------
# Point-biserial 함수
# -------------------------------
def point_biserial(x, y):
    return pointbiserialr(x, y)[0]

# -------------------------------
# Segment 기준 상관계수 계산
# -------------------------------
def segment_correlations(df, target_col='Segment'):
    df = df.copy()

    # Segment만 Label Encoding (순서형으로 가정)
    le = LabelEncoder()
    df[target_col] = le.fit_transform(df[target_col])
    target = df[target_col]

    results = {}

    for col in df.columns:
        if col == target_col:
            continue

        x = df[col]

        if pd.api.types.is_numeric_dtype(x):
            # 수치형 → Spearman
            coef, _ = spearmanr(x, target, nan_policy='omit')
            results[col] = coef

        elif x.nunique() == 2:
            # 이진 범주형 → Point-biserial (Label Encoding 필요)
            x_encoded = LabelEncoder().fit_transform(x)
            results[col] = point_biserial(target, x_encoded)

        else:
            # 다중 범주형 → Cramér's V
            results[col] = cramers_v(x, target)

    return pd.Series(results).sort_values(ascending=False)

In [11]:
correlations = segment_correlations(df, target_col='Segment')

In [12]:
# 상관계수 계산 결과가 correlations에 들어있다고 가정
filtered = correlations.abs()
filtered = filtered[filtered > 0.4].sort_values(ascending=False)
print(filtered)

ID              1.000000
평잔_6M           0.443832
평잔_3M           0.438900
월중평잔            0.438704
평잔_일시불_6M       0.430168
월중평잔_일시불_B0M    0.426340
잔액_일시불_B0M      0.423773
월중평잔_일시불        0.423301
평잔_일시불_3M       0.422594
잔액_일시불_B1M      0.408804
잔액_일시불_B2M      0.406982
dtype: float64