In [1]:
# 기본
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 경고 뜨지 않게 설정
import warnings
warnings.filterwarnings('ignore')

# 그래프 설정
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 데이터 전처리 알고리즘
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

# 학습용과 검증용으로 나누는 함수
from sklearn.model_selection import train_test_split

# 교차 검증
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold

# 평가함수
# 분류용
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score

# 회귀용
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

# 모델의 최적의 하이퍼 파라미터를 찾기 위한 도구
from sklearn.model_selection import GridSearchCV

# 머신러닝 알고리즘 - 분류
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import VotingClassifier

# 머신러닝 알고리즘 - 회귀
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from lightgbm import LGBMRegressor
from xgboost import XGBRegressor
from sklearn.ensemble import VotingRegressor

# 차원 축소
from sklearn.decomposition import PCA
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

# 군집
from sklearn.cluster import KMeans
from sklearn.cluster import MeanShift
from sklearn.cluster import estimate_bandwidth


# 학습 모델 저장을 위한 라이브러리
import pickle

In [3]:
# parquet 파일 데이터를 읽어온다.
df1 = pd.read_parquet('open/train/5.잔액정보/201807_train_잔액정보.parquet')
df2 = pd.read_parquet('open/train/5.잔액정보/201808_train_잔액정보.parquet')
df3 = pd.read_parquet('open/train/5.잔액정보/201809_train_잔액정보.parquet')
df4 = pd.read_parquet('open/train/5.잔액정보/201810_train_잔액정보.parquet')
df5 = pd.read_parquet('open/train/5.잔액정보/201811_train_잔액정보.parquet')
df6 = pd.read_parquet('open/train/5.잔액정보/201812_train_잔액정보.parquet')

In [4]:
# 월별 데이터 프레임을 합친다.
all_df = pd.concat([df1, df2, df3, df4, df5, df6])
all_df.reset_index(inplace=True, drop=True)
all_df

,기준년월,ID,잔액_일시불_B0M,잔액_할부_B0M,잔액_현금서비스_B0M,잔액_리볼빙일시불이월_B0M,잔액_리볼빙CA이월_B0M,잔액_카드론_B0M,월중평잔_일시불_B0M,월중평잔_할부_B0M,...,평잔_6M,평잔_일시불_6M,평잔_일시불_해외_6M,평잔_RV일시불_6M,평잔_RV일시불_해외_6M,평잔_할부_6M,평잔_할부_해외_6M,평잔_CA_6M,평잔_CA_해외_6M,평잔_카드론_6M
0,201807,TRAIN_000000,998,962,22971,0,0,0,1084,547,...,15988,2440,0,0,0,572,0,17008,0,0
1,201807,TRAIN_000001,2565,2390,0,0,0,0,4090,2553,...,7045,2677,0,2830,0,2736,0,0,0,0
2,201807,TRAIN_000002,5312,5113,21531,6795,0,0,5006,8778,...,66549,9118,0,8870,0,4429,0,43351,0,0
3,201807,TRAIN_000003,730,5025,26284,0,0,0,487,5607,...,30139,884,0,0,0,5097,0,30697,0,0
4,201807,TRAIN_000004,0,0,0,0,0,0,0,0,...,28,21,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2399996,201812,TRAIN_399996,3351,0,0,0,0,27337,4412,0,...,67826,12524,0,0,0,0,0,0,0,23031
2399997,201812,TRAIN_399997,2524,2960,0,0,0,0,2694,3374,...,8627,3241,0,0,0,3995,0,0,0,0
2399998,201812,TRAIN_399998,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2399999,201812,TRAIN_399999,1148,3452,0,0,0,0,980,1839,...,5463,1053,0,0,0,4373,0,0,0,0

In [5]:
all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400000 entries, 0 to 2399999
Data columns (total 82 columns):
 #   Column             Dtype
---  ------             -----
 0   기준년월               int64
 1   ID                 object
 2   잔액_일시불_B0M         int64
 3   잔액_할부_B0M          int64
 4   잔액_현금서비스_B0M       int64
 5   잔액_리볼빙일시불이월_B0M    int64
 6   잔액_리볼빙CA이월_B0M     int64
 7   잔액_카드론_B0M         int64
 8   월중평잔_일시불_B0M       int64
 9   월중평잔_할부_B0M        int64
 10  월중평잔_CA_B0M        int64
 11  카드론잔액_최종경과월        int64
 12  연체일자_B0M           float64
 13  연체잔액_B0M           int64
 14  연체잔액_일시불_B0M       int64
 15  연체잔액_할부_B0M        int64
 16  연체잔액_현금서비스_B0M     int64
 17  연체잔액_카드론_B0M       int64
 18  연체잔액_대환론_B0M       int64
 19  잔액_현금서비스_B1M       int64
 20  잔액_현금서비스_B2M       int64
 21  잔액_카드론_B1M         int64
 22  잔액_카드론_B2M         int64
 23  잔액_카드론_B3M         int64
 24  잔액_카드론_B4M         int64
 25  잔액_카드론_B5M         int64
 26  잔액_할부_B1M          int64
 27  잔액_할부_B2M          int64
 28  잔액_일시불_B1M         int64
 29  잔액_일시불_B2M         int64
 30  연체일수_B1M           int64
 31  연체일수_B2M           int64
 32  연체원금_B1M           int64
 33  연체원금_B2M           int64
 34  연체일수_최근            int64
 35  연체원금_최근            int64
 36  최종연체회차             int64
 37  매각잔액_B1M           int64
 38  최종연체개월수_R15M       int64
 39  RV_평균잔액_R12M       int64
 40  RV_최대잔액_R12M       int64
 41  RV_평균잔액_R6M        int64
 42  RV_최대잔액_R6M        int64
 43  RV_평균잔액_R3M        int64
 44  RV_최대잔액_R3M        int64
 45  RV잔액이월횟수_R6M       int64
 46  RV잔액이월횟수_R3M       int64
 47  잔액_할부_유이자_B0M      int64
 48  잔액_할부_무이자_B0M      int64
 49  잔액_할부_해외_B0M       int64
 50  연체잔액_일시불_해외_B0M    int64
 51  연체잔액_RV일시불_B0M     int64
 52  연체잔액_RV일시불_해외_B0M  int64
 53  연체잔액_할부_해외_B0M     int64
 54  연체잔액_CA_B0M        int64
 55  연체잔액_CA_해외_B0M     int64
 56  월중평잔               int64
 57  월중평잔_일시불           int64
 58  월중평잔_RV일시불         int64
 59  월중평잔_할부            int64
 60  월중평잔_CA            int64
 61  월중평잔_카드론           int64
 62  평잔_3M              int64
 63  평잔_일시불_3M          int64
 64  평잔_일시불_해외_3M       int64
 65  평잔_RV일시불_3M        int64
 66  평잔_RV일시불_해외_3M     int64
 67  평잔_할부_3M           int64
 68  평잔_할부_해외_3M        int64
 69  평잔_CA_3M           int64
 70  평잔_CA_해외_3M        int64
 71  평잔_카드론_3M          int64
 72  평잔_6M              int64
 73  평잔_일시불_6M          int64
 74  평잔_일시불_해외_6M       int64
 75  평잔_RV일시불_6M        int64
 76  평잔_RV일시불_해외_6M     int64
 77  평잔_할부_6M           int64
 78  평잔_할부_해외_6M        int64
 79  평잔_CA_6M           int64
 80  평잔_CA_해외_6M        int64
 81  평잔_카드론_6M          int64
dtypes: float64(1), int64(80), object(1)
memory usage: 1.5+ GB

In [11]:
# 소수점 6자리까지 출력하고 지수 표기 비활성화
pd.set_option('display.float_format', '{:.0f}'.format)

In [12]:
for i in range(1, 81) :
    a1= all_df.iloc[:,i].describe()
    print(a1)
    print('-'*30)

count          2400000
unique          400000
top       TRAIN_000000
freq                 6
Name: ID, dtype: object
------------------------------
count   2400000
mean       3303
std        6428
min           0
25%           0
50%        1298
75%        3778
max      222767
Name: 잔액_일시불_B0M, dtype: float64
------------------------------
count   2400000
mean       1448
std        3257
min           0
25%           0
50%           0
75%        1787
max       71465
Name: 잔액_할부_B0M, dtype: float64
------------------------------
count   2400000
mean        708
std        3639
min           0
25%           0
50%           0
75%           0
max       77356
Name: 잔액_현금서비스_B0M, dtype: float64
------------------------------
count   2400000
mean        349
std        2183
min           0
25%           0
50%           0
75%           0
max       37547
Name: 잔액_리볼빙일시불이월_B0M, dtype: float64
------------------------------
count   2400000
mean          7
std         411
min           0
25%           0
50%           0
75%           0
max       47344
Name: 잔액_리볼빙CA이월_B0M, dtype: float64
------------------------------
count   2400000
mean       2462
std       11671
min           0
25%           0
50%           0
75%           0
max      246524
Name: 잔액_카드론_B0M, dtype: float64
------------------------------
count   2400000
mean       3810
std        7098
min           0
25%           0
50%        1478
75%        4519
max      201516
Name: 월중평잔_일시불_B0M, dtype: float64
------------------------------
count   2400000
mean       1710
std        5083
min           0
25%           0
50%           0
75%        1452
max      180777
Name: 월중평잔_할부_B0M, dtype: float64
------------------------------
count   2400000
mean        736
std        4080
min           0
25%           0
50%           0
75%           0
max      111229
Name: 월중평잔_CA_B0M, dtype: float64
------------------------------
count   2400000
mean          0
std           0
min           0
25%           0
50%           0
75%           0
max           0
Name: 카드론잔액_최종경과월, dtype: float64
------------------------------
count       5664
mean    20180630
std          161
min     20180407
25%     20180514
50%     20180609
75%     20180725
max     20181026
Name: 연체일자_B0M, dtype: float64
------------------------------
count   2400000
mean          7
std         285
min           0
25%           0
50%           0
75%           0
max       34725
Name: 연체잔액_B0M, dtype: float64
------------------------------
count   2400000
mean          1
std          44
min           0
25%           0
50%           0
75%           0
max        2537
Name: 연체잔액_일시불_B0M, dtype: float64
------------------------------
count   2400000
mean          3
std          82
min           0
25%           0
50%           0
75%           0
max        3325
Name: 연체잔액_할부_B0M, dtype: float64
------------------------------
count   2400000
mean          2
std         187
min           0
25%           0
50%           0
75%           0
max       25243
Name: 연체잔액_현금서비스_B0M, dtype: float64
------------------------------
count   2400000
mean          0
std          70
min           0
25%           0
50%           0
75%           0
max       13637
Name: 연체잔액_카드론_B0M, dtype: float64
------------------------------
count   2400000
mean          0
std          43
min           0
25%           0
50%           0
75%           0
max       27752
Name: 연체잔액_대환론_B0M, dtype: float64
------------------------------
count   2400000
mean        778
std        4183
min           0
25%           0
50%           0
75%           0
max      105744
Name: 잔액_현금서비스_B1M, dtype: float64
------------------------------
count   2400000
mean        774
std        4134
min           0
25%           0
50%           0
75%           0
max      105744
Name: 잔액_현금서비스_B2M, dtype: float64
------------------------------
count   2400000
mean       2619
std       12776
min           0
25%           0
50%           0
75%           0
max      244906
Name: 잔액_카드론_B1M, dtype: float64
------------------------------
count   2400000
mean       2678
std       12937
min           0
25%           0
50%           0
75%           0
max      244906
Name: 잔액_카드론_B2M, dtype: float64
------------------------------
count   2400000
mean       2712
std       13027
min           0
25%           0
50%           0
75%           0
max      244906
Name: 잔액_카드론_B3M, dtype: float64
------------------------------
count   2400000
mean       2745
std       13070
min           0
25%           0
50%           0
75%           0
max      244906
Name: 잔액_카드론_B4M, dtype: float64
------------------------------
count   2400000
mean       2826
std       13227
min           0
25%           0
50%           0
75%           0
max      233904
Name: 잔액_카드론_B5M, dtype: float64
------------------------------
count   2400000
mean       1792
std        5345
min           0
25%           0
50%           0
75%        1500
max      170144
Name: 잔액_할부_B1M, dtype: float64
------------------------------
count   2400000
mean       1939
std        5688
min           0
25%           0
50%           0
75%        1602
max      170144
Name: 잔액_할부_B2M, dtype: float64
------------------------------
count   2400000
mean       3519
std        7406
min           0
25%           0
50%        1177
75%        3867
max      245949
Name: 잔액_일시불_B1M, dtype: float64
------------------------------
count   2400000
mean       3543
std        7408
min           0
25%           0
50%        1172
75%        3926
max      276813
Name: 잔액_일시불_B2M, dtype: float64
------------------------------
count   2400000
mean    -884112
std      320089
min     -999999
25%     -999999
50%     -999999
75%     -999999
max           1
Name: 연체일수_B1M, dtype: float64
------------------------------
count   2400000
mean    -879629
std      325393
min     -999999
25%     -999999
50%     -999999
75%     -999999
max           1
Name: 연체일수_B2M, dtype: float64
------------------------------
count   2400000
mean         19
std         340
min           0
25%           0
50%           0
75%           0
max       18116
Name: 연체원금_B1M, dtype: float64
------------------------------
count   2400000
mean         22
std         360
min           0
25%           0
50%           0
75%           0
max       18116
Name: 연체원금_B2M, dtype: float64
------------------------------
count   2400000
mean    -984224
std      124602
min     -999999
25%     -999999
50%     -999999
75%     -999999
max           1
Name: 연체일수_최근, dtype: float64
------------------------------
count   2400000
mean         15
std         306
min           0
25%           0
50%           0
75%           0
max       16197
Name: 연체원금_최근, dtype: float64
------------------------------
count   2400000
mean        -66
std          47
min         -99
25%         -99
50%         -99
75%           0
max           0
Name: 최종연체회차, dtype: float64
------------------------------
count   2400000
mean          0
std          30
min           0
25%           0
50%           0
75%           0
max       46708
Name: 매각잔액_B1M, dtype: float64
------------------------------
count   2400000
mean          0
std           0
min           0
25%           0
50%           0
75%           0
max           0
Name: 최종연체개월수_R15M, dtype: float64
------------------------------
count   2400000
mean        432
std        3181
min           0
25%           0
50%           0
75%           0
max      103231
Name: RV_평균잔액_R12M, dtype: float64
------------------------------
count   2400000
mean        685
std        4042
min           0
25%           0
50%           0
75%           0
max       94455
Name: RV_최대잔액_R12M, dtype: float64
------------------------------
count   2400000
mean        384
std        2616
min           0
25%           0
50%           0
75%           0
max       84969
Name: RV_평균잔액_R6M, dtype: float64
------------------------------
count   2400000
mean        519
std        3120
min           0
25%           0
50%           0
75%           0
max       79564
Name: RV_최대잔액_R6M, dtype: float64
------------------------------
count   2400000
mean        375
std        2438
min           0
25%           0
50%           0
75%           0
max       60855
Name: RV_평균잔액_R3M, dtype: float64
------------------------------
count   2400000
mean        451
std        2752
min           0
25%           0
50%           0
75%           0
max       79564
Name: RV_최대잔액_R3M, dtype: float64
------------------------------
count   2400000
mean          0
std           0
min           0
25%           0
50%           0
75%           0
max           0
Name: RV잔액이월횟수_R6M, dtype: float64
------------------------------
count   2400000
mean          0
std           0
min           0
25%           0
50%           0
75%           0
max           0
Name: RV잔액이월횟수_R3M, dtype: float64
------------------------------
count   2400000
mean        521
std        1499
min           0
25%           0
50%           0
75%           0
max       40614
Name: 잔액_할부_유이자_B0M, dtype: float64
------------------------------
count   2400000
mean        926
std        2570
min           0
25%           0
50%           0
75%         749
max       71465
Name: 잔액_할부_무이자_B0M, dtype: float64
------------------------------
count   2400000
mean          1
std          89
min           0
25%           0
50%           0
75%           0
max        6739
Name: 잔액_할부_해외_B0M, dtype: float64
------------------------------
count   2400000
mean          0
std           0
min           0
25%           0
50%           0
75%           0
max           0
Name: 연체잔액_일시불_해외_B0M, dtype: float64
------------------------------
count   2400000
mean          0
std           6
min           0
25%           0
50%           0
75%           0
max        1118
Name: 연체잔액_RV일시불_B0M, dtype: float64
------------------------------
count   2400000
mean          0
std           0
min           0
25%           0
50%           0
75%           0
max           0
Name: 연체잔액_RV일시불_해외_B0M, dtype: float64
------------------------------
count   2400000
mean          0
std           0
min           0
25%           0
50%           0
75%           0
max           0
Name: 연체잔액_할부_해외_B0M, dtype: float64
------------------------------
count   2400000
mean          4
std         186
min           0
25%           0
50%           0
75%           0
max       10848
Name: 연체잔액_CA_B0M, dtype: float64
------------------------------
count   2400000
mean          0
std           0
min           0
25%           0
50%           0
75%           0
max           0
Name: 연체잔액_CA_해외_B0M, dtype: float64
------------------------------
count   2400000
mean       9947
std       26509
min           0
25%         127
50%        2927
75%        8355
max      330702
Name: 월중평잔, dtype: float64
------------------------------
count   2400000
mean       3816
std        6964
min           0
25%           0
50%        1498
75%        4612
max      223695
Name: 월중평잔_일시불, dtype: float64
------------------------------
count   2400000
mean        954
std        4479
min           0
25%           0
50%           0
75%           0
max      183116
Name: 월중평잔_RV일시불, dtype: float64
------------------------------
count   2400000
mean       1728
std        5270
min           0
25%           0
50%           0
75%        1397
max      180777
Name: 월중평잔_할부, dtype: float64
------------------------------
count   2400000
mean        726
std        4020
min           0
25%           0
50%           0
75%           0
max      110478
Name: 월중평잔_CA, dtype: float64
------------------------------
count   2400000
mean       2506
std       12338
min           0
25%           0
50%           0
75%           0
max      241790
Name: 월중평잔_카드론, dtype: float64
------------------------------
count   2400000
mean      10695
std       28235
min           0
25%         159
50%        3152
75%        8809
max      311938
Name: 평잔_3M, dtype: float64
------------------------------
count   2400000
mean       4115
std        7403
min           0
25%          35
50%        1704
75%        4942
max      184276
Name: 평잔_일시불_3M, dtype: float64
------------------------------
count   2400000
mean         43
std         132
min           0
25%           0
50%           0
75%           0
max        3639
Name: 평잔_일시불_해외_3M, dtype: float64
------------------------------
count   2400000
mean       1024
std        5062
min           0
25%           0
50%           0
75%           0
max      182237
Name: 평잔_RV일시불_3M, dtype: float64
------------------------------
count   2400000
mean         11
std          70
min           0
25%           0
50%           0
75%           0
max        1450
Name: 평잔_RV일시불_해외_3M, dtype: float64
------------------------------
count   2400000
mean       2052
std        6315
min           0
25%           0
50%           0
75%        1479
max      157274
Name: 평잔_할부_3M, dtype: float64
------------------------------
count   2400000
mean          4
std         126
min           0
25%           0
50%           0
75%           0
max        5357
Name: 평잔_할부_해외_3M, dtype: float64
------------------------------
count   2400000
mean        860
std        5002
min           0
25%           0
50%           0
75%           0
max      141304
Name: 평잔_CA_3M, dtype: float64
------------------------------
count   2400000
mean          0
std          15
min           0
25%           0
50%           0
75%           0
max        1994
Name: 평잔_CA_해외_3M, dtype: float64
------------------------------
count   2400000
mean       2782
std       14436
min           0
25%           0
50%           0
75%           0
max      230000
Name: 평잔_카드론_3M, dtype: float64
------------------------------
count   2400000
mean      11767
std       29693
min           0
25%         243
50%        3363
75%        9912
max      299154
Name: 평잔_6M, dtype: float64
------------------------------
count   2400000
mean       4192
std        7304
min           0
25%         106
50%        1704
75%        5031
max      176861
Name: 평잔_일시불_6M, dtype: float64
------------------------------
count   2400000
mean         44
std         134
min           0
25%           0
50%           0
75%           0
max        2888
Name: 평잔_일시불_해외_6M, dtype: float64
------------------------------
count   2400000
mean       1039
std        5054
min           0
25%           0
50%           0
75%           0
max      176861
Name: 평잔_RV일시불_6M, dtype: float64
------------------------------
count   2400000
mean         10
std          62
min           0
25%           0
50%           0
75%           0
max         960
Name: 평잔_RV일시불_해외_6M, dtype: float64
------------------------------
count   2400000
mean       2434
std        7175
min           0
25%           0
50%           0
75%        1819
max      140901
Name: 평잔_할부_6M, dtype: float64
------------------------------
count   2400000
mean          2
std          44
min           0
25%           0
50%           0
75%           0
max        2518
Name: 평잔_할부_해외_6M, dtype: float64
------------------------------
count   2400000
mean        909
std        5241
min           0
25%           0
50%           0
75%           0
max      140478
Name: 평잔_CA_6M, dtype: float64
------------------------------
count   2400000
mean          0
std          18
min           0
25%           0
50%           0
75%           0
max        1489
Name: 평잔_CA_해외_6M, dtype: float64
------------------------------

In [21]:
# 각 컬럼에서 0의 개수를 구하는 코드
for i in range(1, 104) :
    a1= all_df.iloc[:,i].value_counts()
    print(a1)
    print('-'*30)

ID
TRAIN_000000    6
TRAIN_266650    6
TRAIN_266672    6
TRAIN_266671    6
TRAIN_266670    6
               ..
TRAIN_133331    6
TRAIN_133330    6
TRAIN_133329    6
TRAIN_133328    6
TRAIN_399999    6
Name: count, Length: 400000, dtype: int64
------------------------------
잔액_일시불_B0M
0         684962
7           1270
8           1240
9           1112
10           968
           ...
33163          1
41698          1
40967          1
164026         1
23438          1
Name: count, Length: 46915, dtype: int64
------------------------------
잔액_할부_B0M
0        1629476
1714         289
1809         286
1979         285
1583         282
          ...
37836          1
26109          1
28214          1
20330          1
23638          1
Name: count, Length: 27079, dtype: int64
------------------------------
잔액_현금서비스_B0M
0        2281554
8166          25
8157          22
7732          21
6833          21
          ...
32479          1
30566          1
20452          1
31597          1
39120          1
Name: count, Length: 29834, dtype: int64
------------------------------
잔액_리볼빙일시불이월_B0M
0        2333736
14305         16
13823         15
12299         15
8882          15
          ...
16233          1
22080          1
21832          1
4879           1
19831          1
Name: count, Length: 16808, dtype: int64
------------------------------
잔액_리볼빙CA이월_B0M
0        2399018
5872           5
5873           5
5858           5
26472          4
          ...
46591          1
2028           1
15603          1
1072           1
16617          1
Name: count, Length: 799, dtype: int64
------------------------------
잔액_카드론_B0M
0         2254037
15573          12
14358          12
13151          11
16886          11
           ...
115648          1
49719           1
84166           1
107259          1
85633           1
Name: count, Length: 65512, dtype: int64
------------------------------
월중평잔_일시불_B0M
0        665570
7          1573
8          1535
9          1257
10         1029
          ...
57830         1
75192         1
32567         1
72027         1
51204         1
Name: count, Length: 50150, dtype: int64
------------------------------
월중평잔_할부_B0M
0        1562426
1400         325
1247         323
1192         323
1182         323
          ...
33213          1
93830          1
29508          1
69076          1
23062          1
Name: count, Length: 40800, dtype: int64
------------------------------
월중평잔_CA_B0M
0        2255011
3920          33
4014          32
3237          31
3526          31
          ...
34568          1
19847          1
19397          1
49563          1
21694          1
Name: count, Length: 35383, dtype: int64
------------------------------
카드론잔액_최종경과월
0    2400000
Name: count, dtype: int64
------------------------------
연체일자_B0M
20180521    85
20180517    80
20180520    76
20180522    72
20180523    72
            ..
20181024     2
20180407     2
20181020     1
20181022     1
20181026     1
Name: count, Length: 201, dtype: int64
------------------------------
연체잔액_B0M
0        2396459
3737           7
3681           6
1260           6
2197           6
          ...
20549          1
13987          1
1312           1
31474          1
1870           1
Name: count, Length: 2178, dtype: int64
------------------------------
연체잔액_일시불_B0M
0       2397265
1384         11
1308         11
1181         10
1198         10
         ...
899           1
1409          1
1645          1
772           1
910           1
Name: count, Length: 885, dtype: int64
------------------------------
연체잔액_할부_B0M
0       2397356
2288         12
2460         11
2430         10
2317         10
         ...
2775          1
2865          1
2078          1
2932          1
1870          1
Name: count, Length: 829, dtype: int64
------------------------------
연체잔액_현금서비스_B0M
0        2399655
16378          5
16471          5
16388          4
16440          4
          ...
16510          1
16302          1
10111          1
10068          1
16397          1
Name: count, Length: 251, dtype: int64
------------------------------
연체잔액_카드론_B0M
0        2399911
13448          2
13271          2
13365          2
13245          2
          ...
13299          1
13213          1
13225          1
13195          1
13246          1
Name: count, Length: 85, dtype: int64
------------------------------
연체잔액_대환론_B0M
0        2399994
27479          1
27348          1
27752          1
27018          1
27108          1
27663          1
Name: count, dtype: int64
------------------------------
잔액_현금서비스_B1M
0        2274187
5541          23
5659          23
5804          23
6861          23
          ...
41260          1
33921          1
39461          1
31791          1
31718          1
Name: count, Length: 35119, dtype: int64
------------------------------
잔액_현금서비스_B2M
0        2271711
5819          23
5317          22
6490          22
5766          22
          ...
49450          1
42948          1
22433          1
49312          1
18881          1
Name: count, Length: 34837, dtype: int64
------------------------------
잔액_카드론_B1M
0         2252380
244906         20
17494          13
23701          12
16008          11
           ...
39870           1
93328           1
112674          1
100816          1
111366          1
Name: count, Length: 69829, dtype: int64
------------------------------
잔액_카드론_B2M
0         2250906
244906         15
19334          14
23701          12
26816          12
           ...
68476           1
77836           1
54401           1
86340           1
75979           1
Name: count, Length: 70506, dtype: int64
------------------------------
잔액_카드론_B3M
0         2250113
230000         13
23701          11
15030          11
26224          11
           ...
65505           1
80005           1
101803          1
43001           1
66401           1
Name: count, Length: 70916, dtype: int64
------------------------------
잔액_카드론_B4M
0         2248999
230000         18
25388          12
20552          12
26549          11
           ...
77206           1
82527           1
104178          1
37086           1
50949           1
Name: count, Length: 71113, dtype: int64
------------------------------
잔액_카드론_B5M
0         2244864
230000         22
28189          12
14054          12
28566          11
           ...
20041           1
98315           1
57508           1
101268          1
120949          1
Name: count, Length: 71894, dtype: int64
------------------------------
잔액_할부_B1M
0        1585586
1220         301
1357         295
1338         294
1240         293
          ...
29057          1
40083          1
48829          1
98482          1
31465          1
Name: count, Length: 42386, dtype: int64
------------------------------
잔액_할부_B2M
0        1574720
1220         293
1338         286
1203         283
1357         280
          ...
37823          1
33370          1
81221          1
39546          1
35873          1
Name: count, Length: 44400, dtype: int64
------------------------------
잔액_일시불_B1M
0        685125
8          1474
6          1432
9          1411
7          1405
          ...
54450         1
80693         1
50932         1
47859         1
49464         1
Name: count, Length: 51622, dtype: int64
------------------------------
잔액_일시불_B2M
0         690155
6           1419
7           1346
8           1324
9           1214
           ...
81133          1
101270         1
47684          1
47203          1
59353          1
Name: count, Length: 51500, dtype: int64
------------------------------
연체일수_B1M
-999999    2121871
 0          277067
 1            1062
Name: count, dtype: int64
------------------------------
연체일수_B2M
-999999    2111112
 0          287883
 1            1005
Name: count, dtype: int64
------------------------------
연체원금_B1M
0       2388440
1068         10
1219         10
4386          8
860           8
         ...
4997          1
6475          1
8452          1
4840          1
2540          1
Name: count, Length: 6221, dtype: int64
------------------------------
연체원금_B2M
0        2387029
1068          10
2739           9
981            8
4870           8
          ...
9390           1
1899           1
4339           1
10518          1
3675           1
Name: count, Length: 6652, dtype: int64
------------------------------
연체일수_최근
-999999    2362141
 0           35026
 1            2833
Name: count, dtype: int64
------------------------------
연체원금_최근
0       2393240
4248          6
4007          6
3550          6
3361          6
         ...
7374          1
5399          1
7789          1
7323          1
4217          1
Name: count, Length: 4341, dtype: int64
------------------------------
최종연체회차
-99    1598239
 0      801761
Name: count, dtype: int64
------------------------------
매각잔액_B1M
0        2399999
46708          1
Name: count, dtype: int64
------------------------------
최종연체개월수_R15M
0    2400000
Name: count, dtype: int64
------------------------------
RV_평균잔액_R12M
0        2251983
363          229
343          229
365          225
349          222
          ...
32035          1
18259          1
32613          1
22939          1
12753          1
Name: count, Length: 30785, dtype: int64
------------------------------
RV_최대잔액_R12M
0        2252020
2298          68
2410          67
2342          65
2380          64
          ...
9209           1
38368          1
37773          1
32967          1
36219          1
Name: count, Length: 35740, dtype: int64
------------------------------
RV_평균잔액_R6M
0        2292850
791           74
715           68
708           68
744           66
          ...
17751          1
28747          1
15920          1
58699          1
15240          1
Name: count, Length: 27326, dtype: int64
------------------------------
RV_최대잔액_R6M
0        2292751
2693          34
2661          33
2993          33
2505          32
          ...
35448          1
13554          1
17037          1
24209          1
19120          1
Name: count, Length: 29704, dtype: int64
------------------------------
RV_평균잔액_R3M
0        2310301
1809          33
1763          31
1564          30
1583          30
          ...
26619          1
19326          1
6273           1
23926          1
19370          1
Name: count, Length: 25309, dtype: int64
------------------------------
RV_최대잔액_R3M
0        2310090
3778          28
3935          22
3717          21
3404          21
          ...
26014          1
25065          1
27414          1
23570          1
22099          1
Name: count, Length: 26204, dtype: int64
------------------------------
RV잔액이월횟수_R6M
0    2400000
Name: count, dtype: int64
------------------------------
RV잔액이월횟수_R3M
0    2400000
Name: count, dtype: int64
------------------------------
잔액_할부_유이자_B0M
0        2024394
2014         201
2042         200
2200         199
2190         199
          ...
15686          1
14131          1
8828           1
16026          1
10890          1
Name: count, Length: 14101, dtype: int64
------------------------------
잔액_할부_무이자_B0M
0        1797147
1420         281
1583         281
1787         278
1574         278
          ...
20368          1
21956          1
24924          1
46172          1
23638          1
Name: count, Length: 24298, dtype: int64
------------------------------
잔액_할부_해외_B0M
0       2399472
6041          6
6039          5
6017          4
6049          4
         ...
6002          1
5814          1
6126          1
5749          1
6430          1
Name: count, Length: 349, dtype: int64
------------------------------
연체잔액_일시불_해외_B0M
0    2400000
Name: count, dtype: int64
------------------------------
연체잔액_RV일시불_B0M
0       2399932
1035          3
1051          3
1071          3
1084          2
1011          2
1042          2
1007          2
1005          2
1032          2
1008          2
1033          2
868           1
1018          1
1024          1
1098          1
1118          1
1052          1
952           1
1010          1
1091          1
1085          1
1059          1
1079          1
1054          1
1082          1
1097          1
1060          1
1074          1
900           1
1004          1
927           1
1034          1
1039          1
990           1
1102          1
1020          1
1037          1
1089          1
1040          1
1086          1
1100          1
1016          1
1048          1
977           1
1030          1
1023          1
1090          1
1096          1
1077          1
1022          1
1068          1
1058          1
1027          1
1116          1
Name: count, dtype: int64
------------------------------
연체잔액_RV일시불_해외_B0M
0    2400000
Name: count, dtype: int64
------------------------------
연체잔액_할부_해외_B0M
0    2400000
Name: count, dtype: int64
------------------------------
연체잔액_CA_B0M
0       2398777
8255          6
8252          6
8267          5
8291          5
         ...
8620          1
8796          1
8518          1
8443          1
7447          1
Name: count, Length: 788, dtype: int64
------------------------------
연체잔액_CA_해외_B0M
0    2400000
Name: count, dtype: int64
------------------------------
월중평잔
0         525599
330702      3040
12          2522
13          2458
14          2411
           ...
161806         1
82421          1
279410         1
100770         1
107431         1
Name: count, Length: 112385, dtype: int64
------------------------------
월중평잔_일시불
0        604988
9          2782
10         2715
8          2659
11         2617
          ...
50425         1
58949         1
65736         1
26937         1
39498         1
Name: count, Length: 49193, dtype: int64
------------------------------
월중평잔_RV일시불
0        2017344
2080         114
1907         114
2175         113
1944         112
          ...
51159          1
61240          1
19644          1
39831          1
25948          1
Name: count, Length: 37466, dtype: int64
------------------------------
월중평잔_할부
0        1558318
1094         335
1158         330
1023         327
1085         322
          ...
38543          1
30948          1
59870          1
41144          1
33020          1
Name: count, Length: 41787, dtype: int64
------------------------------
월중평잔_CA
0        2253264
3308          35
3774          32
2907          31
3885          31
          ...
21850          1
34172          1
43293          1
46957          1
46039          1
Name: count, Length: 35089, dtype: int64
------------------------------
월중평잔_카드론
0         2251318
241790         20
16738          14
19794          13
11442          13
           ...
40089           1
85235           1
19691           1
34061           1
91207           1
Name: count, Length: 68685, dtype: int64
------------------------------
평잔_3M
0         473106
311938      4438
8           3605
9           3318
7           3195
           ...
62548          1
171706         1
292964         1
119147         1
167577         1
Name: count, Length: 117605, dtype: int64
------------------------------
평잔_일시불_3M
0        542054
7          4362
6          4189
8          4013
5          3839
          ...
34383         1
53794         1
28785         1
46883         1
46434         1
Name: count, Length: 51176, dtype: int64
------------------------------
평잔_일시불_해외_3M
0       2131254
298        1295
305        1285
323        1275
310        1264
         ...
1413          1
1305          1
1705          1
108           1
1849          1
Name: count, Length: 1458, dtype: int64
------------------------------
평잔_RV일시불_3M
0        2010528
1675         107
1038         106
2212         105
1501         105
          ...
20016          1
79175          1
33212          1
55065          1
26408          1
Name: count, Length: 39474, dtype: int64
------------------------------
평잔_RV일시불_해외_3M
0      2337347
393        481
397        475
398        460
399        455
        ...
898          1
952          1
880          1
839          1
906          1
Name: count, Length: 725, dtype: int64
------------------------------
평잔_할부_3M
0        1482549
620          320
673          317
726          309
480          309
          ...
45861          1
44104          1
35153          1
51050          1
45609          1
Name: count, Length: 47518, dtype: int64
------------------------------
평잔_할부_해외_3M
0       2397950
4323         13
4313         11
4329         11
4335         11
         ...
4563          1
4177          1
4511          1
4026          1
3760          1
Name: count, Length: 715, dtype: int64
------------------------------
평잔_CA_3M
0        2205440
1098          73
1272          68
1099          68
1355          68
          ...
86703          1
11951          1
48989          1
29917          1
24852          1
Name: count, Length: 40984, dtype: int64
------------------------------
평잔_CA_해외_3M
0       2399836
1805          6
1788          5
1819          5
1775          5
         ...
1803          1
1715          1
1823          1
1790          1
1757          1
Name: count, Length: 103, dtype: int64
------------------------------
평잔_카드론_3M
0         2239958
230000        537
14406          13
13729          12
19696          12
           ...
101321          1
79867           1
65199           1
48790           1
51808           1
Name: count, Length: 75774, dtype: int64
------------------------------
평잔_6M
0         384972
299154      5653
8           3195
9           3091
7           2965
           ...
49304          1
52821          1
82982          1
105217         1
81552          1
Name: count, Length: 123514, dtype: int64
------------------------------
평잔_일시불_6M
0        441363
6          4724
7          4361
5          4092
8          3677
          ...
33752         1
39279         1
40005         1
54327         1
68821         1
Name: count, Length: 50481, dtype: int64
------------------------------
평잔_일시불_해외_6M
0       2097312
254        1306
243        1297
253        1292
244        1289
         ...
2192          1
1631          1
2558          1
1564          1
1277          1
Name: count, Length: 1719, dtype: int64
------------------------------
평잔_RV일시불_6M
0        1996360
284          125
314          121
300          120
311          113
          ...
49879          1
71510          1
89746          1
84089          1
33382          1
Name: count, Length: 39274, dtype: int64
------------------------------
평잔_RV일시불_해외_6M
0      2331384
346        480
349        480
330        476
337        473
        ...
158          1
747          1
765          1
681          1
730          1
Name: count, Length: 618, dtype: int64
------------------------------
평잔_할부_6M
0        1351969
316          433
457          429
357          429
329          427
          ...
31128          1
43905          1
60429          1
84939          1
75207          1
Name: count, Length: 51585, dtype: int64
------------------------------
평잔_할부_해외_6M
0       2397093
1273         20
1308         19
1270         19
1274         19
         ...
1030          1
1690          1
1064          1
1451          1
993           1
Name: count, Length: 626, dtype: int64
------------------------------
평잔_CA_6M
0        2163443
628          141
597          138
606          138
586          137
          ...
38782          1
30584          1
34009          1
14082          1
47760          1
Name: count, Length: 42604, dtype: int64
------------------------------
평잔_CA_해외_6M
0       2399468
1200         12
1208         12
1212         11
1210         10
         ...
1119          1
1337          1
1290          1
1156          1
1093          1
Name: count, Length: 197, dtype: int64
------------------------------
평잔_카드론_6M
0         2220428
225000        862
5842           15
8400           14
9454           14
           ...
62648           1
109812          1
63878           1
176782          1
154140          1
Name: count, Length: 80666, dtype: int64
------------------------------

IndexError: single positional indexer is out-of-bounds

In [16]:
results = []

for i in range(0, all_df.shape[1]):  # 1번 컬럼부터
    col_name = all_df.columns[i]
    series = all_df.iloc[:, i]
    desc = series.describe()

    # 숫자형만 정수로 변환, object나 category는 그대로 출력
    if pd.api.types.is_numeric_dtype(series):
        desc = desc.round().astype(int)
        desc_str = f"[{col_name}]\n" + "\n".join(f"{idx:<6} {val:>10}" for idx, val in desc.items())
    else:
        desc_str = f"[{col_name}]\n" + desc.to_string()

    results.append(desc_str)

# DataFrame으로 정리 (엑셀에서 셀 하나에 붙여넣기 가능)
df_result = pd.DataFrame({'통계 요약': results})
df_result.to_csv("describe_summary_integer.csv", index=False, encoding='utf-8-sig')

In [18]:
import csv

results = []

for i in range(0, all_df.shape[1]):
    col_name = all_df.columns[i]
    series = all_df.iloc[:, i]
    desc = series.describe()

    if pd.api.types.is_numeric_dtype(series):
        desc = desc.round().astype(int)
        desc_str = f"[{col_name}]\n" + "\n".join(f"{idx:<6} {val:>10}" for idx, val in desc.items())
    else:
        desc_str = f"[{col_name}]\n" + desc.to_string()

    results.append(desc_str)

# DataFrame 만들기
df_result = pd.DataFrame({'통계 요약': results})

# ✅ 셀 안에 줄바꿈 유지한 채 저장
df_result.to_csv(
    "describe_summary_integer.csv",
    index=False,
    encoding='utf-8-sig',
    quoting=csv.QUOTE_ALL  # 줄바꿈 포함 문자열을 셀 하나에 넣기 위해 전체를 따옴표로 감쌈
)

In [32]:
a1 = all_df.iloc[:,2].value_counts()
print(a1.loc[7])

1270